name: Linter

on: [ "push", "pull_request" ]

jobs:

  build:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go 1.20
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'
      - name: Go vet
        run: go vet ./...
