name: Go tests

on: [ push, pull_request ]

jobs:
  go-test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.17', '1.18', '1.19', '1.20', '1.21', '1.22' ]

    services:
      etcd:
        image: bitnami/etcd
        env:
          ALLOW_NONE_AUTHENTICATION: yes
        ports:
          - 2379:2379
      redis:
        image: bitnami/redis
        env:
          ALLOW_EMPTY_PASSWORD: yes
        ports:
          - 6379:6379
      memcached:
        image: bitnami/memcached
        ports:
          - 11211:11211
      consul:
        image: bitnami/consul
        ports:
          - 8500:8500
      zookeeper:
        image: bitnami/zookeeper
        env:
          ALLOW_ANONYMOUS_LOGIN: yes
        ports:
          - 2181:2181

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Setup DynamoDB Local
        uses: rrainn/dynamodb-action@v3.0.0
        with:
          port: 8000
      - name: Run tests
        env:
          ETCD_ENDPOINTS: 'localhost:2379'
          REDIS_ADDR: 'localhost:6379'
          CONSUL_ADDR: 'localhost:8500'
          ZOOKEEPER_ENDPOINTS: 'localhost:2181'
          AWS_ADDR: 'localhost:8000'
          MEMCACHED_ADDR: '127.0.0.1:11211'
        run: go test -race -v -coverprofile=coverage.txt -covermode=atomic ./...
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
