name: Go tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  go-test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.23', '1.24', '1.25' ]

    services:
      etcd:
        image: gcr.io/etcd-development/etcd:v3.6.5
        env:
            ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
            ETCD_ADVERTISE_CLIENT_URLS: "http://0.0.0.0:2379"
        ports:
          - 2379:2379
      redis:
        image: redis:8.2
        ports:
          - 6379:6379
      redis-cluster:
        image: grokzen/redis-cluster:7.0.10
        env:
          IP: 0.0.0.0
          INITIAL_PORT: 11000
        ports:
          - 11000-11005:11000-11005
      memcached:
        image: memcached:1.6
        ports:
          - 11211:11211
      consul:
        image: hashicorp/consul:1.21
        ports:
          - 8500:8500
      zookeeper:
        image: zookeeper:3.9
        ports:
          - 2181:2181
      postgresql:
        image: postgres:18
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
      cosmos:
        image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:vnext-preview
        env:
          PROTOCOL: http
          COSMOS_HTTP_CONNECTION_WITHOUT_TLS_ALLOWED: "true"
        ports:
          - "8081:8081"

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Setup DynamoDB Local
        uses: rrainn/dynamodb-action@v4.0.0
        with:
          port: 8000
      - name: Run tests
        env:
          ETCD_ENDPOINTS: 'localhost:2379'
          REDIS_ADDR: 'localhost:6379'
          REDIS_NODES: 'localhost:11000,localhost:11001,localhost:11002,localhost:11003,localhost:11004,localhost:11005'
          CONSUL_ADDR: 'localhost:8500'
          ZOOKEEPER_ENDPOINTS: 'localhost:2181'
          AWS_ADDR: 'localhost:8000'
          MEMCACHED_ADDR: '127.0.0.1:11211'
          POSTGRES_URL: postgres://postgres:postgres@localhost:5432/?sslmode=disable
          COSMOS_ADDR: '127.0.0.1:8081'
        run: go test -race -v -coverprofile=coverage.txt -covermode=atomic ./...
      - uses: codecov/codecov-action@v5
        with:
          verbose: true
