name: Linter

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  vet:
    name: Go vet
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Go vet
        run: go vet ./...
